<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="box">
        <input type="text" v-model="defaultVal">
        <div>
            {{defaultVal}}
        </div>
        <div>
            {{obj.name}}
        </div>
        <div>
            {{obj2.childObj.aa.name}}
        </div>
    </div>
    <script src="./mvvm.js"></script>
    <script>
        const res = new mvvm({
            el: 'box',
            data: {
                defaultVal: 'tom',
                obj: {
                    name: 'jack'
                },
                obj2: {
                    childObj: {
                        aa: {
                            name: 'bob'
                        }
                    }
                }
            }
        })

        // 数据劫持演示
        // let obj = {
        //     name: 'tom'
        // }
        // // 数据劫持
        // Object.defineProperty(obj, 'name', {
        //     get () {
        //         return 'aaa'  
        //     },
        //     set (newVal) {
        //         console.log('newVal', newVal)
        //     }
        // })
        // obj.name = 'jack'
        // console.log('name', obj.name)

    </script>
</body>

</html>